KBOT_HTTP_ADDR=:8080
KBOT_JWT_SECRET=replace-with-at-least-32-characters
KBOT_JWT_ISSUER=kbot-course
KBOT_LLM_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
KBOT_LLM_API_KEY=replace-with-ark-api-key
KBOT_LLM_MODEL=doubao-seed-2-0-lite-260215
KBOT_DATABASE_URL=postgres://kbot:kbot@postgres:5432/kbot?sslmode=disable
POSTGRES_USER=kbot
POSTGRES_PASSWORD=kbot
POSTGRES_DB=kbot
